#content {
	position: relative;
	height: 618px;
  width: 800px;
  padding: 20px 0 0 0;
  margin: auto;
  display: block;
  z-index: 0;
}

canvas {
	position: absolute;
	left: 31px;
	top: 52px;
}

#layer1 {
	background-color: #000000;
	z-index: 1;
}

#layer1.game-started {
	background-image: url("../images/white_house.jpg");
}

#layer2 {
	z-index: 2;
}

#tv-img {
	max-height: 100%;
	max-width: 100%;
}

footer {
  text-align: center;
}

footer a, footer a:visited {
  text-decoration: none;
}
